@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@theme {
  --color-game-text: #ffffff;
  --color-game-bg: #050606;
  --color-game-primary: #405a72;
  --color-game-secondary: #7d93a6;
  --color-game-accent: #899aeb;
}
